:root{
    --cor-1: #ffffff;
    --cor-2: #E7E7E7;
    --cor-3: #B6B6B6;
    --cor-4: #9A9A9A;
    --cor-5: #7E7E7E;
    --cor-6: #5E5E5E;
    --cor-7: #515151;
    --cor-8: #3E3E3E;
    --cor-9: #353535;
    --cor-10: #222222;
    --cor-11: #141414;
    --cor-12: #000;
    --cor-13: #FFB800;
    --cor-14: #DEA40D;
    --cor-15: #B28920;
    --cor-16: #997B2D;
    --cor-17: #584E33;

}